/* Defines the Host Grotesk font family for your website */

@font-face {
  font-family: 'Host Grotesk';
  src: url('../fonts/HostGrotesk-Regular.woff') format('woff2'); /* Modern browsers */
  font-weight: 400; /* 400 is the numeric value for 'normal' */
  font-style: normal;
}

@font-face {
  font-family: 'Host Grotesk';
  src: url('../fonts/HostGrotesk-Medium.woff') format('woff2');
  font-weight: 500; /* 500 is for 'medium' */
  font-style: normal;
}

@font-face {
  font-family: 'Host Grotesk';
  src: url('../fonts/HostGrotesk-SemiBold.woff') format('woff2');
  font-weight: 600; /* 600 is for 'semibold' */
  font-style: normal;
}